<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RegionMapper">
    <resultMap id="BaseResultMapPro" type="com.example.demo.entity.Provinces">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="provinceid" property="provinceid" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="cityid" property="cityid" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseResultMapCity" type="com.example.demo.entity.Cities">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="cityid" property="cityid" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="provinceid" property="provinceid" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseResultMapArea" type="com.example.demo.entity.Areas">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="areaid" property="areaid" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="cityid" property="cityid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List_Pro">
    id,provinceid,province
    </sql>
    <sql id="Base_Column_List_City">
    id,cityid,city,provinceid
    </sql>
    <sql id="Base_Column_List_Area">
    id,areaid,area,cityid
    </sql>
    <sql id="Base_Name_Pro">
        provinces
    </sql>
    <sql id="Base_Name_City">
        cities
    </sql>
    <sql id="Base_Name_Area">
        areas
    </sql>
    <select id="getProvince" resultMap="BaseResultMapPro">
        select * from
        <include refid="Base_Name_Pro"/>
    </select>
    <select id="getCity" resultMap="BaseResultMapCity">
        select * from
        <include refid="Base_Name_City"/>
        where provinceid=#{provinceId}
    </select>
    <select id="getArea" resultMap="BaseResultMapArea">
        select * from
        <include refid="Base_Name_Area"/>
        where cityId=#{cityId}
    </select>

    <select id="getProName" >
        select province from
        <include refid="Base_Name_Pro"/>
        where provinceid=#{provinceId}
    </select>

    <select id="getCityName" >
        select city from
        <include refid="Base_Name_City"/>
        where cityid=#{cityId}
    </select>
    <select id="getAreaName" >
        select area from
        <include refid="Base_Name_Area"/>
        where areaid=#{areaId}
    </select>

</mapper>