<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Shop">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="sp_name" property="spName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="leader" property="leader" jdbcType="VARCHAR"/>
        <result column="leader_phone" property="leaderPhone" jdbcType="VARCHAR"/>
        <result column="cus_phone" property="cusPhone" jdbcType="VARCHAR"/>
        <result column="worker" property="worker" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="delivery" property="delivery" jdbcType="INTEGER"/>
        <result column="pic_address" property="picAddress" jdbcType="VARCHAR"/>
        <result column="deliPrice" property="deliPrice" jdbcType="DOUBLE"/>
        <result column="dispatch" property="dispatch" jdbcType="DOUBLE"/>
        <result column="valid" property="valid" jdbcType="INTEGER"/>
        <result column="is_tradeMark" property="isTradeMark" jdbcType="INTEGER"/>
        <result column="id_tradeMark" property="idTradeMark" jdbcType="INTEGER"/>
        <result column="c_time" property="cTime" jdbcType="TIMESTAMP"/>
        <result column="e_time" property="eTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
    id,sp_name,address,leader,leader_phone,cus_phone,worker,category,delivery,
    pic_address,deliPrice,dispatch,valid,is_tradeMark,id_tradeMark,c_time,e_time
    </sql>
    <sql id="Base_Column_List_NoId">
    sp_name,address,leader,leader_phone,cus_phone,worker,category,delivery,
    pic_address,deliPrice,dispatch,valid,is_tradeMark,id_tradeMark,c_time,e_time
    </sql>
    <sql id="Base_Name">
        proj_shop
    </sql>
    <insert id="shopAdd" parameterType="com.example.demo.entity.Shop" useGeneratedKeys="true" keyProperty="shop.id" >
        insert into<include refid="Base_Name"/>(<include refid="Base_Column_List_NoId"/>)
        values (#{shop.spName},#{shop.address},#{shop.leader},#{shop.leaderPhone},
        #{shop.cusPhone},#{shop.worker},#{shop.category},#{shop.delivery},#{shop.picAddress}
        ,#{shop.deliPrice},#{shop.dispatch},1,#{shop.isTradeMark},#{shop.idTradeMark},current_timestamp() ,current_timestamp())
    </insert>
    <select id="getAllShop" resultMap="BaseResultMap">
        select * from
        <include refid="Base_Name"/>
        where valid=1
        order by c_time desc
    </select>
    <select id="getLast" resultMap="BaseResultMap">
        select * from
        <include refid="Base_Name"/>
        where valid=1
        order by c_time asc limit 1
    </select>
    <select id="getShopById" resultMap="BaseResultMap">
        select * from
        <include refid="Base_Name"/>
        where id=#{id}
        and valid=1
    </select>
    <update id="shopUpdate">
        update
        <include refid="Base_Name"/>
        set sp_name=#{shop.spName},address=#{shop.address},leader=#{shop.leader},
        leader_phone=#{shop.leaderPhone},cus_phone=#{shop.cusPhone},category=#{shop.category},
        delivery=#{shop.delivery},deliPrice=#{shop.deliPrice},dispatch=#{shop.dispatch},
        is_tradeMark=#{shop.isTradeMark},e_time=current_timestamp()
        where id=#{shop.id}
        and valid=1
    </update>
    <update id="updateAddress">
        update
        <include refid="Base_Name"/>
        set pic_address=#{picName}
        where id=#{id}
    </update>
    <update id="delAll">
        update
        <include refid="Base_Name"/>
        set valid=0
        where id=#{id}
    </update>
</mapper>
